language: go

go:
  - "1.10"

env:
  global:
    - NOMS_VERSION_NEXT=1
    - GLANGCI_LINT_VERSION="v1.12.3"
    - COVERPROFILE="coverage.out"

before_install:
  - ./ybindgen.sh

install:
  - go get github.com/mattn/goveralls
  - curl -sfL https://install.goreleaser.com/github.com/golangci/golangci-lint.sh | sh -s -- -b $GOPATH/bin $GLANGCI_LINT_VERSION

script:
  - golangci-lint run
  - go test ./... -v -covermode=count -coverprofile=$COVERPROFILE

after_success:
  - goveralls -coverprofile=$COVERPROFILE -service=travis-ci

notifications:
  email: false
